{% include 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title mb-4">Restablecer contraseña</h1>
                    <hr>
                    <p>Lamentamos que hayas perdido tu cuenta, pero ¡no te preocupes!</p>
                    <p>Para recuperar tu cuenta y restablecer tu contraseña puedes hacer <a href="{{link}}">clic aquí</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>