{% extends 'accounts/base.html' %}

{% load static %}


{% block title %}Registrarse{% endblock %}


{% block content %}
<div>
    <img class="mx-auto d-flex justify-content-center rounded-circle" src="{% static 'image/logo.jpg' %}" width="100" height="100" alt="Img">
    <h5 class="mx-auto d-flex justify-content-center">Registrarte en zShop</h5>
    <br>
</div>
<div class="col-md-8 mx-auto d-flex align-items-center justify-content-center">

    <form style="background-color: rgb(225, 225, 225);" class="border border-primary rounded-3 w-50 p-5" method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; padding: .475rem .25rem !important;" class="text-center small alert alert-danger">{{message}}</div>
                {% else %}
                    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; padding: .475rem .25rem !important;" class="text-center small alert alert-{{message.tags}}">{{message}}</div>
                {% endif %}
        {% endfor %}
        {% endif %}
        
        <div class="row">
            
            {% for field in form %}

            <div class="mb-3 col-md-6">
                <label class="form-label">{{ field.label }}:</label>
                {{ field }}
            </div>
            {% endfor %}
            

            <div class="d-grid grap-10">
                <input class="btn btn-primary" type="submit" name="Submit" value="Registrarse">
            </div>
            <p></p>
            <div class="text-center small">
                <p style="font-family:Arial, Helvetica, sans-serif;">¿Ya tienes cuenta? <a style="font-family:Arial, Helvetica, sans-serif;" href="{% url 'accounts:login' %}">Ingresa aquí</a></p>
            </div>
        </div>
    </form>
</div>
{% endblock %}