{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ category }}{% endblock %}



{% block content %}



<div class="container my-5">
    <h5>Descubre</h5>
    <hr>
    {% for product in products %}
        <div class="col-lg-2 col-md-3 col-sm-5">
            <a href="{% url 'shop:product' id=product.id %}" style="text-decoration: none;">
                <div class="card h-100" id="card-hover">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price|floatformat:2|intcomma }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:5 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
</div>

{% endblock %}