{% load static %}

<link rel="stylesheet" href="{% static 'css/shop/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'shop:dashboard' %}">zShop</a>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Categorías</a>
                
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'shop:category' category='Hogar' %}" class="dropdown-item"><i class="fas fa-home"></i> Hogar</a></li>
                        <li><a href="{% url 'shop:category' category='Tecnología' %}" class="dropdown-item"><i class="fas fa-laptop"></i> Tecnología</a></li>
                        <li><a href="{% url 'shop:category' category='Hogar' %}" class="dropdown-item"><i class="fas fa-tshirt"></i> Tallas grandes</a></li>
                        <li><a href="{% url 'shop:category' category='Accesorios' %}" class="dropdown-item"><i class="fas fa-glasses"></i> Accesorios</a></li>
                        <li><a href="{% url 'shop:category' category='Deportes' %}" class="dropdown-item"><i class="fas fa-futbol"></i> Deportes</a></li>
                        <li><a href="{% url 'shop:category' category='Home' %}" class="dropdown-item"><i class="fas fa-baby-carriage"></i> Niños y bebés</a></li>
                        <li><a href="{% url 'shop:category' category='Mujeres' %}" class="dropdown-item"><i class="fas fa-female"></i> Mujeres</a></li>
                        <li><a href="{% url 'shop:category' category='Hombres' %}" class="dropdown-item"><i class="fas fa-male"></i> Hombres</a></li>
                    </ul>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ofertas</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'shop:cart' %}" class="nav-link">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                        
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'shop:account' %}">Cuenta</a></li>
                            <li><a class="dropdown-item" href="{% url 'shop:favorite_list' %}">Favoritos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Cerrar sesión</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}">
                            <button type="button" class="btn btn-outline-light">Registrarse</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">
                            <button type="button" class="btn btn-light">Ingresar</button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
